<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Coins</key>
	<dict>
		<key>MinDropDuration</key>
		<real>0.9</real>
		<key>MaxDropDuration</key>
		<real>1.8</real>
		<key>MinSpawnTime</key>
		<real>0.1</real>
		<key>MaxSpawnTime</key>
		<real>0.6</real>
		<key>PoolSize</key>
		<integer>30</integer>
	</dict>
	<key>DoorMoveTime</key>
	<integer>1</integer>
	<key>Accelerometer</key>
	<dict>
		<key>AccumulateAccelerationInterval</key>
		<real>0.2</real>
		<key>ShakeResultTime</key>
		<real>0.3</real>
		<key>MinShakeX</key>
		<real>0.85</real>
		<key>MinShakeY</key>
		<real>0.85</real>
	</dict>
	<key>BobbleHead</key>
	<dict>
		<key>TotalAccelerationToDizzy</key>
		<real>3.5</real>
		<key>BobbleElasticity</key>
		<real>0.4</real>
		<key>BobbleFriction</key>
		<real>0.96</real>
		<key>RotationElasticity</key>
		<real>0.1</real>
		<key>RotationFriction</key>
		<real>0.97</real>
		<key>MaxBobbleSpeedRatio</key>
		<real>0.4</real>
		<key>DragDistanceRatio</key>
		<real>0.15</real>
		<key>MaxRotationSpeed</key>
		<integer>25</integer>
		<key>ShakeFactor</key>
		<integer>12</integer>
		<key>HeadDizzyDuration</key>
		<integer>5</integer>
	</dict>
	<key>MusicList</key>
	<array>
		<string>喜洋洋[华乐]_Final.m4a</string>
		<string>大地回春_Final.m4a</string>
		<string>大家过个太平年_Final.m4a</string>
		<string>恭喜发财_Final.m4a</string>
		<string>迎春花_Final.m4a</string>
	</array>
	<key>MusicControls</key>
	<dict>
		<key>MusicBtnYPos</key>
		<string>10</string>
		<key>TweenTime</key>
		<real>0.1</real>
	</dict>
	<key>Parallax</key>
	<dict>
		<key>Background1Ratio</key>
		<string>{2,1}</string>
		<key>CoinLayerRatio</key>
		<string>{3,2}</string>
		<key>Background2Ratio</key>
		<string>{4,4}</string>
		<key>CharacterRatio</key>
		<string>{10,5}</string>
		<key>ForegroundRatio</key>
		<string>{24,12}</string>
	</dict>
	<key>QuoteList</key>
	<array>
		<string>Huat 啊.m4a</string>
		<string>万事如意.m4a</string>
		<string>万象更新.m4a</string>
		<string>大吉大利.m4a</string>
		<string>年年有余.m4a</string>
		<string>恭禧发财.m4a</string>
		<string>招财进宝.m4a</string>
		<string>福到人间.m4a</string>
		<string>蛇年行大运.m4a</string>
		<string>财源广进.m4a</string>
		<string>财源滚滚.m4a</string>
		<string>财运亨通.m4a</string>
	</array>
	<key>Timestep</key>
	<dict>
		<key>FixedTimestep</key>
		<real>0.016667</real>
		<key>MaxStepCount</key>
		<integer>25</integer>
		<key>MinTimestep</key>
		<real>0.001667</real>
	</dict>
</dict>
</plist>
